# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local data files
*.xlsx
*.csv

# Model files
*.pkl
*.joblib
